<% include ./partials/header %>

<a href="/new">
<button
class="btn btn-outline-dark btn-sm d-flex align-self-start mb-1">
Add New flashCardListTable</button></a>

<table class="table">
    <thead>
      <tr>
        <th style="width:30%" scope="col">Question</th>
        <th style="width:50%" scope="col">Answer</th>
        <th style="width:10%" scope="col"></th>
        <th style="width:10%" scope="col"></th>
      </tr>
    </thead> 
    <tbody id="flashCardListTable">
      <% flashcards.forEach(function(flashcard){ %>
        <tr>
          <td><%= flashcard.question %></td>
          <td><%= flashcard.translation %></td>
          <td><form id="deleteForm" 
            action="/flashcards/<%=flashcard._id%>?_method=DELETE" method="POST">
            <input type="submit" 
            class="btn btn-xs btn-danger" 
            value="Delete">
          </td>
          <td>
            <a 
            href="/<%=flashcard._id%>/edit" 
            class="btn btn-xs btn-warning">Edit
             </a>
          </td>
        </tr>
      <% }); %>
    
    </tbody>
</table>

<% include ./partials/footer %>
