<% include ./partials/header %>

<table class="table">
    <thead>
      <tr>
        <th style="width:30%" scope="col">Question</th>
        <th style="width:70%" scope="col">Answer</th>
      </tr>
    </thead> 
    <tbody id="flashCardListTable">
    
    </tbody>
  </table>

<% include ./partials/footer %>
