<% include ./partials/header %>

<!-- Sections to add flashcards and view online translation -->
<div class="container">
    <div class="row">

        <div class="col-lg-6 p-0">  
            <form action="/newFlashcard" method="post">
                <button 
                type="submit"
                class="btn btn-outline-dark btn-sm d-flex align-self-start mb-1">
                Upload Flashcards</button>
                <div class="form-row">
                  <div class="col-lg-6 p-0">
                    <textarea 
                    id="addFlashcardQuestionInput" 
                    name="question" 
                    type="text" 
                    placeholder="Question..."></textarea>
                  </div>
                  <div class="col-lg-6 p-0">
                      <textarea id="addFlashcardTranslationInput" 
                      name="translation" type="text" 
                      placeholder="Answer..."></textarea>
                  </div>
                </div>
            </form>  
        </div>

        <div class="col-lg-6 p-0">
          <button 
            class="btn btn-outline-dark btn-sm mb-1"
            id = "accessGoogleTranslateButton">Make Request</button>
          <div class="row m-0 p-0">
            <div id="googleTranslateOutput" class="col-lg-12 m-0">
            </div>
          </div>
        </div>
    </div>
  </div>








<% include ./partials/footer %>