

#displayFlashcard {
  margin: auto;
  width: 80%;
  border: 1px solid grey;
  border-radius: 10px;
  height: 250px;
  text-align: center;
  box-shadow: 5px 5px #888888;
}

#clickableFlashcardDisplay { 
  position:absolute;
  margin: auto; 
  width:75%;
  height:100%;
  top:0;
  left: 0;
  right: 0;
/*   border: 2px solid red; */
  z-index: 1;
}   


h1 {
  text-align:center;
}


/* The Modal (background) */
.modal {
  padding: 20px 20px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  min-width: 300px;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  font-weight: 300;
}

.btn-outline-dark {
  border-color: #979797;
  border-width: 1.5px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 5px 10px;
  border: 1px solid #979797;
  border-right: 0px;
  box-sizing: border-box;
  resize: none;
}

@media only screen and (max-width: 992px) {
  textarea {
    border-right: 1px solid #979797;
  }
}

#googleTranslateOutput {
  height: 150px;
  border: 1px solid #979797;
  padding: 5px 10px;
}

#previousFlashcard {
  font-size: 60px;
  border: 0px;
}

#nextFlashcard {
  font-size: 60px;
  border: 0px;
}
